fastapi
uvicorn[standard]
python-multipart
python-dotenv
Pillow
numpy
httpx
aiohttp
beautifulsoup4
PyMySQL
google-cloud-storage
opencv-python-headless
torch
torchvision
transformers
google-generativeai
google-genai
google-cloud-secret-manager
scikit-learn
pydantic-settings
scikit-image
gunicorn
psutil
requests
huggingface-hub
google-auth
google-auth-oauthlib
google-auth-httplib2
seaborn



